body {
    font-family: 'Caveat', cursive;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.flexible-container {
    display: flex;
    margin-bottom: 7%;
}

.half-width {
    width: 40%;
    margin-left: 7%;
    margin-right: 3%;
    margin-top: 10px;
}

.half-width img,
.menu-box img {
    width: 100%;
}

.blue-color {
    color: rgb(35, 35, 139);
}

.link-button {
    display: inline-block;
    text-decoration: none;
    margin-top: 2%;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 18px;
    background-image: linear-gradient(rgb(35, 35, 139), rgb(19, 128, 136));
    color: white;
}

.top-section {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position-x: -800px;
}

.mid-section {
    background-image: url(../images/bg4.png);
    background-repeat: no-repeat;
    color: grey;
    font-weight: 400;
}

.menu-section {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}

.menu-box {
    width: 30%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 30px grey;
    border-radius: 40px;
}